<%- include('includes/header.ejs') %>
<div id="wrapper">

  <!-- Sidebar -->
<%- include('includes/navigation.ejs') %>
  

  <!-- END NAVIGATION -->



<!--
     Begin "Products" section         -->

  <div id="page-wrapper">
    
    <div class="row">
      <div class="col-lg-12">
        <h1>Dashboard <small>Statistics Overview</small></h1>
        <ol class="breadcrumb">
       
        </ol>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <a class="alert-link" href="/">Interfata personalizata</a>! Aici fiecare user va avea un dashboard personalizat in functie de analize , programari , retete etc
        </div>
      </div>
    </div><!-- /.row -->

    <div class="row">

      <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
             Retetele mele <%=profileName  %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                          
                            <tr>
                                <th>Tip Afectiune</th>
                                <th>Nume Medic</th>
                                <th>Prenume Medic</th>
                                <th>Medicament Prescris</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% for (let reteta of listaRetete) { %>
                            <tr class="odd gradeX">
                              <td><%= reteta.tipAfectiune %></td>
                              <td><%= reteta.nume_medic %></td>
                              <td><%= reteta.prenume_medic %> </td>
                              <td><%= reteta.medicamentPrescris %> </td>
                           
                              <% } %>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
       </div><!-- /.row -->

  

    

  <!-- </div>/#page-wrapper -->

</div><!-- /#wrapper -->
<%- include('includes/footer.ejs') %>